Package: ed
Version: 1.15-1
Architecture: amd64
Maintainer: Martin Zobel-Helas <zobel@debian.org>
Installed-Size: 265
Depends: libc6 (>= 2.14)
Section: editors
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/ed/
Description: classic UNIX line editor
 ed is a line-oriented text editor.  It is used to
 create, display, modify and otherwise manipulate text
 files.
 .
 red is a restricted ed: it can only edit files in the
 current directory and cannot execute shell commands.
